
!.vscode/extensions.json
# Build and Temp
# Dataset and Models
# Dependencies
# Editor directories and files
# Logs
# Uploads
*.local
*.log
*.njsproj
*.ntvs*
*.pt
*.pyc
*.sln
*.suo
*.sw?
.DS_Store
.env
.idea
.vscode/*
__pycache__/
archive (8).zip
backend/results/
backend/uploads/
dataset/
dist
dist-ssr
frontend/dist/
lerna-debug.log*
logs
node_modules
node_modules/
npm-debug.log*
pnpm-debug.log*
runs/
test/
train/
val/
yarn-debug.log*
yarn-error.log*
